.configure-webapps-container{position:fixed;top:100px;right:12px;z-index:100000;width:320px;height:160px;box-shadow:0 1px 6px rgba(32,33,36,.28);border-color:rgba(223,225,229,0);border-radius:10%;padding:12px 9px}.configure-webapps-container.minimized{width:15px;height:12px;border-color:transparent;padding:2px}.configure-webapps-container .minimize-control{float:right;border:0;outline:0 none}.configure-webapps-container .input-field{border-radius:8px;height:24px;margin:6px auto}
/*
     FILE ARCHIVED ON 03:09:23 Feb 06, 2024 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 12:43:04 Feb 06, 2024.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  exclusion.robots: 0.115
  exclusion.robots.policy: 0.101
  cdx.remote: 0.125
  esindex: 0.011
  LoadShardBlock: 381.7 (6)
  PetaboxLoader3.resolve: 240.348 (4)
  PetaboxLoader3.datanode: 107.998 (7)
  load_resource: 82.353
*/