.modal-dialog .modal-body .item-preview{width:300px;max-width:300px;margin:12px auto;display:flex;justify-content:center;align-items:center}.modal-dialog .modal-body .item-preview .item-info{margin:auto;padding-left:10px;display:flex;flex-direction:column;justify-content:flex-start}.modal-dialog .modal-body .item-preview .item-card-thumb img{max-width:150px}.modal-dialog .modal-body .modal-message-block{margin:12px auto;padding:12px 9px 0}.modal-dialog .modal-body .item-content{margin-bottom:12px}.modal-dialog .modal-body a.terms-of-use-link{text-decoration:underline}.modal-dialog .modal-body .icon-warning{background-size:180px auto;width:90px;height:90px;background-position:0 -540px;margin:12px auto 0}#loading-overlay.loading-overlay{background-color:#000;opacity:.7;position:fixed;right:0;left:0;top:0;bottom:0;z-index:1040;display:flex}#loading-overlay.loading-overlay .loading-overlay-content{margin:auto;width:100%;display:flex;flex-direction:column;justify-content:space-between;align-items:center;z-index:1045}#loading-overlay.loading-overlay .loading-message{margin-top:12px;color:#fff}@media (-ms-high-contrast:active),(-ms-high-contrast:none){#loading-overlay.loading-overlay .loading-overlay-content{display:block;text-align:center;vertical-align:middle;margin-top:40vh}#loading-overlay.loading-overlay .spinner{padding:20px;display:inline-block}#loading-overlay.loading-overlay .loading-message{display:inline-block}}
/*
     FILE ARCHIVED ON 09:42:56 Feb 06, 2024 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 12:37:38 Feb 06, 2024.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  exclusion.robots: 0.067
  exclusion.robots.policy: 0.057
  cdx.remote: 0.086
  esindex: 0.012
  LoadShardBlock: 456.431 (6)
  PetaboxLoader3.datanode: 202.493 (7)
  load_resource: 93.663
  PetaboxLoader3.resolve: 33.886
*/