.captcha-core-container{text-align:center;position:absolute;top:50%;left:50%;-webkit-transform:translate(-50%,-50%);-ms-transform:translate(-50%,-50%);-o-transform:translate(-50%,-50%);transform:translate(-50%,-50%)}.captcha-core-error{display:none}
/*
     FILE ARCHIVED ON 09:42:56 Feb 06, 2024 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 12:37:33 Feb 06, 2024.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  exclusion.robots: 0.088
  exclusion.robots.policy: 0.078
  cdx.remote: 0.092
  esindex: 0.008
  LoadShardBlock: 600.033 (6)
  PetaboxLoader3.datanode: 265.195 (7)
  load_resource: 197.239
  PetaboxLoader3.resolve: 96.433
*/