.verified-badge-icon,.verified-badge-text-container{display:none}.badgeSizeCaptionheader,.badgeSizeFooter,.badgeSizeHeader,.badgeSizeSubheader,.badgeSizeTitle{position:relative;overflow:hidden}.badgeSizeTitle{width:28px;height:28px}.badgeSizeFooter{width:12px;height:12px}.badgeSizeCaptionheader,.badgeSizeHeader,.badgeSizeSubheader{width:16px;height:16px}.hz-centered-badge-container{margin:5px 0;display:flex;justify-content:center}
/*
     FILE ARCHIVED ON 03:09:23 Feb 06, 2024 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 12:43:10 Feb 06, 2024.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  exclusion.robots: 0.111
  exclusion.robots.policy: 0.096
  cdx.remote: 0.192
  esindex: 0.012
  LoadShardBlock: 158.095 (6)
  PetaboxLoader3.resolve: 92.317 (3)
  PetaboxLoader3.datanode: 69.723 (7)
  load_resource: 35.604
*/