/* ~/CSS/Pages/Landing/Multiverse/Landing.css */
#landing-page-container{min-height:100vh;}

/*
     FILE ARCHIVED ON 09:43:35 Feb 06, 2024 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 12:37:38 Feb 06, 2024.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  exclusion.robots: 0.124
  exclusion.robots.policy: 0.103
  cdx.remote: 0.247
  esindex: 0.024
  LoadShardBlock: 272.053 (6)
  PetaboxLoader3.datanode: 258.546 (7)
  load_resource: 111.281
  PetaboxLoader3.resolve: 31.059
*/